<div class="row">
	<div class="medium-12 columns">
		<h1 class="titol-document">PROGRAMA DE MANTENIMENT</h1>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<ul><li>EDIFICI</li></ul>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		
		<% if edifici.identificacio.bloc.blank?
		    adreca = edifici.identificacio.tipus_via.to_s + ' ' + edifici.identificacio.nom_via.to_s + ' ' + edifici.identificacio.numero_via.to_s
		  else
		    adreca = edifici.identificacio.tipus_via.to_s + ' ' + edifici.identificacio.nom_via.to_s + ' ' + edifici.identificacio.numero_via.to_s + ', bloc ' + edifici.identificacio.bloc.to_s
		  end
		%>

		Situació: <%= adreca %>	

<%
		@actuacions = ReferenciaCalendariPreventiu.where(:edifici_id => edifici.id)
    @responsables = @actuacions.select(:responsable).map(&:responsable).uniq
    colors = ['#00A5E6', '#375E97', '#FB6542', '#FFBB00', '#3F681C', '#5BC8AC', '#8BE7FF', '#F18D9E', '#86AC41', '#7DA3A1', '#FF2A92', '#D58200', '#9FCD00', '#FFF57A', '#B60900', '#890085']
    @color_responsable = Hash[@responsables.zip colors]
    @any_actual = Time.now.year
    @any_final = @any_actual + 10
    @sistemes = [[t('.fonamentacio'), 'fonamentacio'], [t('.estructura_vertical'), 'estructura_vertical'], [t('.estructura_horitzontal'), 'estructura_horitzontal'], [t('.estructura_coberta'), 'estructura_coberta'], [t('.estructura_escales'), 'estructura_escales'], [t('.tancaments_verticals'), 'tancaments_verticals'], [t('.acabats_facana'), 'acabats_facana'], [t('.fusteria_exterior'), 'fusteria_exterior'], [t('.elements_adossats'), 'elements_adossats'], [t('.altres_facana'), 'altres_facana'], [t('.terrats'), 'terrats'], [t('.coberta_inclinada'), 'coberta_inclinada'], [t('.aigua'), 'aigua'], [t('.electricitat'), 'electricitat'], [t('.sanejament'), 'sanejament'], [t('.gas'), 'gas'], [t('.ascensor'), 'ascensor'], [t('.altres_instalacions'), 'altres_instalacions'], [t('.altres_subsistemes'), 'altres_subsistemes']]
%>
<table class="manteniment-preventiu-pdf unstriped">
  <thead>
    <tr>
      <th class="header-cell" style="width: 150px;"><%= t('.sistema_constructiu') %></th>
      <th class="header-cell"><%= t('.menys_un_any') %></th>
      <th class="header-cell"><%= t('.primer') %></th>
      <th class="header-cell"><%= t('.segon') %></th>
      <th class="header-cell"><%= t('.tercer') %></th>
      <th class="header-cell"><%= t('.quart') %></th>
      <th class="header-cell"><%= t('.cinque') %></th>
      <th class="header-cell"><%= t('.sise') %></th>
      <th class="header-cell"><%= t('.sete') %></th>
      <th class="header-cell"><%= t('.vuite') %></th>
      <th class="header-cell"><%= t('.nove') %></th>
      <th class="header-cell"><%= t('.dese') %></th>
    </tr>
  </thead>
  <tbody>
    <% @sistemes.each do |sistema| %>
    <tr>
      <td class="body-cell titol-cell" style="width: 150px;"><%= sistema[0] %></td>
      <% for any in @any_actual..@any_final
        actuacio = @actuacions.where(sistema: sistema[1], data_any: any)
        if actuacio.count > 0 %>
          <% if actuacio.count > 1 %>
            <td class="body-cell existeix"><div class="primera-actuacio-pdf" style="background-color:<%= @color_responsable[actuacio.first.operacio.responsable] %>"></div><div class="segona-actuacio-pdf" style="background-color:<%= @color_responsable[actuacio.second.operacio.responsable] %>"></div></td>
          <% else %>
            <td class="body-cell existeix" style="background-color:<%= @color_responsable[actuacio.first.operacio.responsable] %>"></td>
          <% end %>
        <% else %>
          <td class="body-cell no-existeix"></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
    
  </tbody>
</table>

<div class="responsables">
  <% @responsables.each do |responsable| %>
    <div class="color-responsable-pdf" style="background-color:<%= @color_responsable[responsable] %>"></div>
    <div class="nom-responsable"><%= responsable %></div>
  <% end %>
</div>
	</div>
</div>

<div class="salt-pagina"></div>

<div class="row">
	<div class="medium-12 columns">
		<h3>Llistat d'actuacions de manteniment preventiu</h3>
		
		<% operacions = edifici.operacions.where(tipus: 'preventiu') %>
		<% operacions.each do |operacio| %>
			<div class="taula-container">
	      <table class="taula-dades">
				  <tbody>
				    <tr>
				      <td><span class="titol-taula">Descripció:</span><br/> <%= operacio.descripcio_ca %></td>
				    </tr>
				  </tbody>
				</table>
				<table class="taula-dades-final">
					<tbody>
				    <tr>
				    	<td class="taula-dos-columnes"><span class="titol-taula">Periodicitat:</span><br/><%= operacio.periodicitat_text_ca %></td>
				      <td class="taula-dos-columnes"><span class="titol-taula">Responsable:</span><br/><%= operacio.responsable %></td>
				      <td class="taula-dos-columnes"><span class="titol-taula">Import:</span><br/><%= operacio.import_total %></td>
				    </tr>
				  </tbody>
				</table>
      </div>		
		<% end %>
		
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<h3>Llistat d'actuacions de manteniment correctiu</h3>
		
		<% operacions = edifici.operacions.where(tipus: 'correctiu') %>
		<% operacions.each do |operacio| %>
			<div class="taula-container">
	      <table class="taula-dades">
				  <tbody>
				    <tr>
				      <td><span class="titol-taula">Descripció:</span><br/> <%= operacio.descripcio_ca %></td>
				    </tr>
				  </tbody>
				</table>
				<table class="taula-dades-final">
					<tbody>
				    <tr>
				      <td class="taula-dos-columnes"><span class="titol-taula">Responsable:</span><br/><%= operacio.responsable %></td>
				      <td class="taula-dos-columnes"><span class="titol-taula">Import:</span><br/><%= operacio.import_total %></td>
				    </tr>
				  </tbody>
				</table>
      </div>		
		<% end %>
		
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<h3>Llistat d'actuacions de millora</h3>
		
		<% operacions = edifici.operacions.where(tipus: 'millora') %>
		<% operacions.each do |operacio| %>
			<div class="taula-container">
	      <table class="taula-dades">
				  <tbody>
				    <tr>
				      <td><span class="titol-taula">Descripció:</span><br/> <%= operacio.descripcio_ca %></td>
				    </tr>
				  </tbody>
				</table>
				<table class="taula-dades-final">
					<tbody>
				    <tr>
				      <td class="taula-dos-columnes"><span class="titol-taula">Responsable:</span><br/><%= operacio.responsable %></td>
				      <td class="taula-dos-columnes"><span class="titol-taula">Import:</span><br/><%= operacio.import_total %></td>
				    </tr>
				  </tbody>
				</table>
      </div>		
		<% end %>
		
	</div>
</div>

<div class="salt-pagina"></div>

<div class="row">
	<div class="medium-12 columns">
		<h3>Planificació financera</h3>
		<% mes_actual = Date.today.month %>
<% tresoreria = edifici.planificacio.fons_propis %>
<% primer_any = Date.today.year %>
<% ultim_any = edifici.despeses.order(:data_any).last.data_any %>
<% 
	for i in primer_any..ultim_any %>
	<table class="calendari calendari-pdf unstriped">
	  <thead>
	    <tr>
	      <th class="calendari-header-cell"><%= i %></th>
	      <th class="calendari-header-cell"><%= t('.gener') %></th>
	      <th class="calendari-header-cell"><%= t('.febrer') %></th>
	      <th class="calendari-header-cell"><%= t('.març') %></th>
	      <th class="calendari-header-cell"><%= t('.abril') %></th>
	      <th class="calendari-header-cell"><%= t('.maig') %></th>
	      <th class="calendari-header-cell"><%= t('.juny') %></th>
	      <th class="calendari-header-cell"><%= t('.juliol') %></th>
	      <th class="calendari-header-cell"><%= t('.agost') %></th>
	      <th class="calendari-header-cell"><%= t('.setembre') %></th>
	      <th class="calendari-header-cell"><%= t('.octubre') %></th>
	      <th class="calendari-header-cell"><%= t('.novembre') %></th>
	      <th class="calendari-header-cell"><%= t('.desembre') %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th class="calendari-header-cell"><%= t('.ingressos') %></th>
		    <% for j in 1..12 %>
		    	<% ingres = edifici.ingressos.where(data_mes: j, data_any: i) %>
		    	<% if ingres.exists? %>
		    		<td class="calendari-body-cell">
			    		<%= link_to edit_ingres_path(ingres.last, edifici_id: ingres.last.edifici_id), remote: true do %>
				    		<%= ingres.last.import %>
				  		<% end %>
			  		</td>
		    	<% else %>
		    		<td class="calendari-body-cell"></td>
		    	<% end %>
		    <% end %>
    	</tr>
    	<tr>
    		<th class="calendari-header-cell"><%= t('.despeses') %></th>
    		<% for j in 1..12 %>
		      <% if i == primer_any && j < mes_actual - 1 %>
		    		<td class="calendari-body-cell"></td>
		    	<% elsif 
			      mes_despesa = edifici.despeses.where(data_mes: j, data_any: i)
			      if mes_despesa.exists? %>
			        <td class="calendari-body-cell"><%= mes_despesa.last.import %></td>
			      <% else %>
			        <td class="calendari-body-cell"></td>
			      <% end %>
			    <% end %>
		    <% end %>
    	</tr>
    	<tr>
    		<th class="calendari-header-cell"><%= t('.tresoreria') %></th>
    		<% for j in 1..12 %>
	    		<% tresoreria = edifici.tresoreries.where(data_mes: j, data_any: i).last
	    		if tresoreria != nil %>
	    			<td class="calendari-body-cell">
	    				<% if tresoreria.import < 0 %>
	    					<span class="valor-negatiu"><%= tresoreria.import %></span>
	    				<% else %>
	    					<span class="valor-positiu"><%= tresoreria.import %></span>
	    				<% end %>
	    			</td>
	    		<% else %>
	    			<td class="calendari-body-cell"></td>
	    		<% end %>
		    <% end %>
    	</tr>
    </tbody>
  </table>
<% end %>

	</div>
</div>