<p id="notice"><%= notice %></p>

<h1>Arxiu Millores</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arxiu_millores.each do |arxiu_millora| %>
      <tr>
        <td><%= arxiu_millora.edifici_id %></td>
        <td><%= link_to 'Show', arxiu_millora %></td>
        <td><%= link_to 'Edit', edit_arxiu_millora_path(arxiu_millora) %></td>
        <td><%= link_to 'Destroy', arxiu_millora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arxiu Millora', new_arxiu_millora_path %>
