<p id="notice"><%= notice %></p>

<h1>Derrames</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Fase</th>
      <th>Concepte</th>
      <th>Import</th>
      <th>Data mes</th>
      <th>Data any</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @derrames.each do |derrama| %>
      <tr>
        <td><%= derrama.edifici_id %></td>
        <td><%= derrama.fase_id %></td>
        <td><%= derrama.concepte %></td>
        <td><%= derrama.import %></td>
        <td><%= derrama.data_mes %></td>
        <td><%= derrama.data_any %></td>
        <td><%= link_to 'Show', derrama %></td>
        <td><%= link_to 'Edit', edit_derrama_path(derrama) %></td>
        <td><%= link_to 'Destroy', derrama, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Derrama', new_derrama_path %>
