<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @preventiu.edifici_id %>
</p>

<p>
  <strong>Descripcio ca:</strong>
  <%= @preventiu.descripcio_ca %>
</p>

<p>
  <strong>Descripcio es:</strong>
  <%= @preventiu.descripcio_es %>
</p>

<p>
  <strong>Periodicitat:</strong>
  <%= @preventiu.periodicitat %>
</p>

<p>
  <strong>Periodicitat text ca:</strong>
  <%= @preventiu.periodicitat_text_ca %>
</p>

<p>
  <strong>Periodicitat text es:</strong>
  <%= @preventiu.periodicitat_text_es %>
</p>

<p>
  <strong>Document referencia:</strong>
  <%= @preventiu.document_referencia %>
</p>

<p>
  <strong>Responsable ca:</strong>
  <%= @preventiu.responsable_ca %>
</p>

<p>
  <strong>Responsable es:</strong>
  <%= @preventiu.responsable_es %>
</p>

<p>
  <strong>Obligatorietat:</strong>
  <%= @preventiu.obligatorietat %>
</p>

<p>
  <strong>Manual habitatge:</strong>
  <%= @preventiu.manual_habitatge %>
</p>

<p>
  <strong>Creat usuari:</strong>
  <%= @preventiu.creat_usuari %>
</p>

<p>
  <strong>Sistema:</strong>
  <%= @preventiu.sistema %>
</p>

<%= link_to 'Edit', edit_preventiu_path(@preventiu) %> |
<%= link_to 'Back', preventius_path %>
