<table>
  <thead>
    <tr>
      <th><%= t('.descripcio') %></th>
      <th><%= t('.tipus') %></th>
      <th><%= t('.import') %></th>
      <th><%= t('.data_inici') %></th>
      <th><%= t('.periodicitat') %></th>
      <th width="30"></th>
    </tr>
  </thead>
  <tbody>
    <% @operacions.each do |operacio| %>
    <tr>
      <td>
        <%= link_to edit_operacio_path(operacio), remote: true do %>
          <%= truncate(operacio.descripcio_ca, :length => 100) %>
        <% end %>
      </td>
      <% case operacio.tipus 
      when 'millora'
        tipus_actuacio = "Correctiu: millora"
      when 'correctiu'
        tipus_actuacio = "Correctiu: rehabilitació"
      when 'preventiu'
        tipus_actuacio = "Preventiu"
      end %>
      <td><%= tipus_actuacio %></td>
      <td><%= operacio.import_total %></td>
      <td><%= operacio.data_inici_mes %>/<%= operacio.data_inici_any %></td>
      <td><%= operacio.periodicitat %></td>
      <td>
      	<%= link_to operacio_path(operacio), remote: true, method: :delete,  data: { confirm: 'Segur que vols eliminar?' } do %>
				  <div class="operacio-eliminar button-right">
            <i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
				<% end %>
			</td>
    </tr>
    <% end %>
  </tbody>
</table>