<table class="manteniment-preventiu">
  <thead>
    <tr>
      <th style="width: 250px;"><%= t('.sistema_constructiu') %></th>
      <th><%= t('.menys_un_any') %></th>
      <th><%= t('.primer') %></th>
      <th><%= t('.segon') %></th>
      <th><%= t('.tercer') %></th>
      <th><%= t('.quart') %></th>
      <th><%= t('.cinque') %></th>
      <th><%= t('.sise') %></th>
      <th><%= t('.sete') %></th>
      <th><%= t('.vuite') %></th>
      <th><%= t('.nove') %></th>
      <th><%= t('.dese') %></th>
    </tr>
  </thead>
  <tbody>
    <% @sistemes.each do |sistema| %>
    <tr>
      <td style="width: 250px;"><%= sistema[0] %></td>
      <% for any in @any_actual..@any_final
        actuacio = @actuacions.where(sistema: sistema[1], data_any: any)
        if actuacio.count > 0 %>
          <% if actuacio.count > 1 %>
            <td class="existeix"><div class="primera-actuacio" style="background-color:<%= @color_responsable[actuacio.first.operacio.responsable] %>"></div><div class="segona-actuacio" style="background-color:<%= @color_responsable[actuacio.second.operacio.responsable] %>"></div></td>
          <% else %>
            <td class="existeix" style="background-color:<%= @color_responsable[actuacio.first.operacio.responsable] %>"></td>
          <% end %>
        <% else %>
          <td class="no-existeix"></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
    
  </tbody>
</table>

<div class="responsables">
  <% @responsables.each do |responsable| %>
    <div class="color-responsable" style="background-color:<%= @color_responsable[responsable] %>"></div>
    <div class="nom-responsable"><%= responsable %></div>
  <% end %>
</div>