<div class="light-background-container">

  <%= render 'menu_operacions' %>

  <div class="row">
    <div class="medium-12 columns">
      <button id="request" class="button">Actualitzar el calendari</button>
    	<div id="status-calendari">

    	</div>
  		<%= render 'actuacions_anys' %>
  	</div>
  </div>

</div>

<script>
$('#request').on('click', function() {
  $(this).hide();
  elimina_referencies();
});

function elimina_referencies() {
  $('#status-calendari').html("<p>Eliminant activitats existents...</p>");
  $.get( "<%= operacions_destruir_calendari_activitats_path %>", { edifici_id: <%= @edifici.id %> })
  .done(function() {
      $('#status-calendari').append("Operacions esborrades");
      genera_referencies();
  });
}

function genera_referencies() {
  var any;
  var any_final = <%= Time.now.year %> + 10;
  var comptador = 0;
  for (any = <%= Time.now.year %>; any < any_final; any++) { 
    $.ajax({
      type: 'GET',
      url: '<%= operacions_generar_calendari_activitats_path %>',
      data: {
        edifici_id: <%= @edifici.id %>,
        any: any,
      },
      success: function(data) {
        $('#status-calendari').html(data);
        comptador++;
        if (comptador == 10) {
          $('#status-calendari').html("<p>Carregant activitats...</p>");
          location.reload();
        };
      }
    });
  };
}

</script>