<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @operacio.edifici_id %>
</p>

<p>
  <strong>Fase:</strong>
  <%= @operacio.fase_id %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @operacio.descripcio %>
</p>

<p>
  <strong>Import obres:</strong>
  <%= @operacio.import_obres %>
</p>

<p>
  <strong>Import honoraris:</strong>
  <%= @operacio.import_honoraris %>
</p>

<p>
  <strong>Import taxes:</strong>
  <%= @operacio.import_taxes %>
</p>

<p>
  <strong>Import altres:</strong>
  <%= @operacio.import_altres %>
</p>

<p>
  <strong>Import total:</strong>
  <%= @operacio.import_total %>
</p>

<%= link_to 'Edit', edit_operacio_path(@operacio) %> |
<%= link_to 'Back', operacions_path %>
