<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @referencia_calendari_preventiu.edifici_id %>
</p>

<p>
  <strong>Operacio:</strong>
  <%= @referencia_calendari_preventiu.operacio_id %>
</p>

<p>
  <strong>Data any:</strong>
  <%= @referencia_calendari_preventiu.data_any %>
</p>

<%= link_to 'Edit', edit_referencia_calendari_preventiu_path(@referencia_calendari_preventiu) %> |
<%= link_to 'Back', referencia_calendari_preventius_path %>
